<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Simple Airbnb</a>
  <div class="ml-auto">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/flats/new">Add Flat</a>
  </div>
</nav>

<h1>Info flat</h1>
 <%= @flat.name %>
 <%= @flat.address %>
 <%= @flat.description %>
 <%= @flat.number_of_guests %>
 <%= @flat.price_per_night %>
